.add {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background: none;
    transition: ease-in-out 0.3s;
}

.add:hover {
    cursor: pointer;
    border: 1px solid rgb(53, 255, 2);
    font-size: 20px;
    transition: ease-in-out 0.3s;
}
