.thank {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    
}

.thank h3 {
    padding: 15px;
    color: #1a1939;
}

.thank p {
    padding: 20px;
    color: rgb(105, 105, 105);
}

.thank h4 {
    padding: 10px;
    color: #292763;
}

@media screen and (min-width:100px) and (max-width:700px) {
    .thank {
        width: 100%;
    }
}