.GoTop {
    width: 50px;
    height: 50px;
    transition: ease-in-out 0.4s;
    background: none;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    top: 90%;
    right: 0.5%;
    position: fixed;
    background-color: #f2311d;
    color: #fff;
}

.GoTop:hover {
    cursor: pointer;
    background-color: #ec5e4e;
}