.payment {
    width: 70%;
    height: auto;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 5%;
    transition: ease-in-out 0.3s;
}

.payment-logo {
    width: 50%;
    display: block;
    margin: auto;
}

.payment form label {
    margin: auto;
    display: block;
    width: 50%;
    padding: 15px;
}

.payment form input {
    margin: auto;
    display: block;
    width: 50%;
    outline: none;
    border: none;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    padding: 15px;
}

.btn {
    display: block;
    margin: auto;
    width: 40%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background: rgb(254,153,0);
    background: linear-gradient(299deg, rgba(254,153,0,1) 0%, rgba(204,0,0,1) 75%);
    transition: ease-in-out 0.3s;
}

.btn:hover {
    cursor: pointer;
    font-size: 22px;
    transition: ease-in-out 0.3s;
}

@media screen and (min-width:100px) and (max-width:700px) {
    .payment {
        width: 100%;
        transition: ease-in-out 0.3s;
    }
    .payment-logo {
        width: 80%;
        transition: ease-in-out 0.3s;
    }
    .payment form input {
        transition: ease-in-out 0.3s;
        width: 90%;
    }
    .payment form button {
        transition: ease-in-out 0.3s;
        width: 80%;
    }
}